<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>个人中心</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<include file="Public/user_center_left" />
		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{:U('Home/Index/index')}">首页</a></li>
					<li><a class="link-dark" href="{:U('Home/UserCenter/index')}">个人中心</a></li>
					<li class="active">商品列表</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-12">

						<!-- page-title start -->
						<!-- ================ -->
						<h1 class="page-title">商品列表</h1>
						<div class="separator-2"></div>
						<!-- page-title end -->
						<div class="row">
							<div class="col-sm-8">
								<!-- tabs start -->
								<!-- ================ -->
								<!-- Nav tabs -->
								<include file="Public/goods_tab" />

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane in active" id="h2tab1">
										<div class="row">
											<div class="col-sm-12">



												{:dump($goods_list)}

												<p id="url_temp" style="display: none;">{:U('Home/Goods/delGoods')}</p>
												<p id="url_temp2" style="display: none;">{:U('Home/Goods/upDownShelve')}</p>
												<table class="table table-hover">
													<thead>
														<tr>
															<th><input type="checkbox" id="select_all" name="select_all" value="{$v['goods_id']}" > 全选</th>
															<th>图片</th>
															<th>名称</th>
															<th>价格(元)</th>
															<th>上架</th>
															<th>操作</th>
														</tr>
													</thead>
													<tbody>

														<foreach name="goods_list" item="v" key="k" >
															<tr>
																<td>
																	<label>
																		<input type="checkbox" id="box" name="box" value="{$v['goods_id']}" >
																	</label>
																</td>
																<td></td>
																<td>{$v.goods_name}</td>
																<td>{$v.min_price}—{$v.max_price}</td>
																<th><?php echo ($v['is_on_shelve']) ? '是' : '否' ; ?></th>
																<th><a href="">编辑</a>|<a href="">删除</a></th>
															</tr>
														</foreach>
													</tbody>
													

												</table>
												<a href="{:U('Home/Goods/addGoods')}" class="btn btn-default btn-sm">新增商品</a>
												<a href="javascript:delet_goods()" class="btn btn-default btn-sm">删除商品</a>
												<a href="javascript:up_down_shelve()" class="btn btn-default btn-sm">上/下架</a>
												<a href="#" class="btn btn-default btn-sm">Default</a>
												{:$page_show}
												

												
											</div>
										</div>
									</div>
								</div>
								<!-- tabs end -->
							</div>
							<include file="Public/user_center_right" />
						</div>
					</div>
					<!-- main end -->
				</div>
			</div>
		</section>
		<!-- main-container end -->

		<!-- modal新增子类别 -->
		<button style="display: none;" id="modal_btn" class="btn btn-default" data-toggle="modal" data-target="#mymodal">按钮名称</button>
		<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="mySmallModalLabel">选择分类</h4>
					</div>
					<div class="modal-body">
						<form onkeydown="if(event.keyCode==13){return false;}" id="form1" action="{:U('Admin181/Goods/addSubCate')}" method="POST" role="form">
							<div class="tree well">
								{$show_tree}
							</div>
							<button type="submit" class="btn btn-default">确认</button>
						</form>
					</div>
					<div class="modal-footer">
						<button id="modal_btn_close" type="button" class="btn btn-sm btn-dark" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>






		<include file="Public/footer" />
	</div>
	<!-- page-wrapper end -->
	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->
	<script type="text/javascript">
		$('ul.nav.nav-tabs.style-2 > li:nth-child(1)').attr("class", "active");

		function delet_goods(){
			var ids="{";
			var i=0;
			$("input[type=checkbox]").each(function(){
				if ($(this).is(":checked")&&$(this).attr('name')!='select_all'){ 
					ids+="i:"+i+";i:"+$(this).val()+";";
					i++;
				}
			})
			ids+="}";
			ids="a:"+i+":"+ids;
			if (0==i) {
				alert('请至少选择一项')
			}else{
				window.location.href=$('#url_temp').text()+"?"+'ids='+ids; 
			}
		}

		function up_down_shelve(){
			var ids="{";
			var i=0;
			$("input[type=checkbox]").each(function(){
				if ($(this).is(":checked")&&$(this).attr('name')!='select_all'){ 
					ids+="i:"+i+";i:"+$(this).val()+";";
					i++;
				}
			})
			ids+="}";
			ids="a:"+i+":"+ids;
			if (0==i) {
				alert('请至少选择一项')
			}else{
				window.location.href=$('#url_temp2').text()+"?"+'ids='+ids; 
			}
		}


		// $(function(){
		// 	$('#select_all').click(function(){
		// 		if ($(this).is(":checked")) {
		// 			//点击后选中
		// 			$("input[type=checkbox]").each(function(){
		// 				console.log(1);
		// 				$(this).prop("checked", true);
		// 			})
		// 		} else {
		// 			//点击后全部取消选中
		// 			$("input[type=checkbox]").each(function(){
		// 				console.log(0);
		// 				$(this).prop("checked", false);
		// 			})
		// 		}
		// 	})
		// })


		//全选备用代码
        $(function() {
           $("#select_all").click(function() {
                $('input[name="box"]').prop("checked",this.checked); 
            });
            var $box = $("input[name='box']");
            $box.click(function(){
                $("#checkAll").prop("checked",$subBox.length == $("input[name='box']:checked").length ? true : false);
            });
        });

    </script>

</body>
</html>

