<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>分类管理</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<include file="Public/admin_left" />
		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{:U('Home/Index/index')}">首页</a></li>
					<li><a class="link-dark" href="{:U('Admin181/Index/index')}">管理中心</a></li>
					<li class="active">商品分类管理</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">
			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-10">

						<!-- page-title start -->
						<!-- ================ -->
						<h1 class="page-title">商品分类管理</h1>
						<div class="separator-2"></div>
						<!-- page-title end -->
						<div class="row">
							<div class="col-sm-12">
								<div class="tree well">
									<?php 
									show_tree($items);
									?>
									<div class="separator-2"></div>
									<div class="row">
										<div class="col-sm-5">
											<form onkeydown="if(event.keyCode==13){return false;}" action="" method="POST" role="form">
											<input value='0' name="pid" type="text" style="display: none;">
												<div class="form-group">
													<input type="text" class="form-control" id="name" name="name" placeholder="">
												</div>
												<button style="float: right" type="submit" class="btn btn-default">增加一级分类</button>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- main end -->
				</div>
			</div>
		</section>
		<!-- main-container end -->
	</div>
	<!-- page-wrapper end -->


	<!-- modal新增子类别 -->
	<button style="display: none;" id="modal_btn" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">按钮名称</button>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="mySmallModalLabel">增加子分类</h4>
				</div>
				<div class="modal-body">
					<form onkeydown="if(event.keyCode==13){return false;}" id="form1" action="{:U('Admin181/Goods/addSubCate')}" method="POST" role="form">
						<input name="pid" type="text" id="pid" style="display: none;">
						<legend>父：<span id="father"></span></legend>
						<div class="form-group">
							<input name="name1" type="text" class="form-control" id="" placeholder="">
						</div>	
						<button type="submit" class="btn btn-default">增加子分类</button>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- modal编辑类别 -->
	<button style="display: none;" id="modal_btn2" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm2">按钮名称</button>
	<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="mySmallModalLabel">编辑分类名</h4>
				</div>
				<div class="modal-body">
					<form onkeydown="if(event.keyCode==13){return false;}" id="form2" action="{:U('Admin181/Goods/editCate')}" method="POST" role="form">
						<input name="id2" type="text" id="id2" style="display: none;">
						<legend>请输入新的分类名称</legend>
						<div class="form-group">
							<!-- <label for="">增加子分类</label> -->
							<input name="name2" type="text" class="form-control" id="" placeholder="">
						</div>	
						<button type="submit" class="btn btn-default">保存</button>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>



	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->

	<script type="text/javascript">
	//修改分类
	function click_e(id){
		$('#id2').attr("value",id);
		$("#modal_btn2").trigger("click");
	}
	//增加子分类
	function click_a(id,name){
		$('#pid').attr("value",id);
		$('#father').text(name);
		$("#modal_btn").trigger("click");
	}
</script>

</body>
</html>
