<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>登录</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header" style="height: 100%">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper" style="height: 100%">
		<!-- background image -->
		<div class="fullscreen-bg"></div>

		<!-- banner start -->
		<!-- ================ -->
		<div class="pv-40 dark-translucent-bg" style="height: 100%">
			<div class="container">
				<div class="object-non-visible text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<!-- logo -->
					<div id="logo" class="logo">
						<h3 class="margin-clear"><a href="index.html" class="logo-font link-light">The <span class="text-default">Project</span></a></h3>
					</div>
					<!-- name-and-slogan -->
					<p class="small">Multipurpose HTML5 Template</p>
					<div class="form-block center-block p-30 light-gray-bg border-clear">
						<h2 class="title text-left">后台登录</h2>

						<form onkeydown="if(event.keyCode==13){return false;}" method="post" class="form-horizontal text-left" action="{:U('Admin181/AdminUser/logIn')}">
							<div class="form-group has-feedback">
								<label for="user_name" class="col-sm-3 control-label">用户名/手机</label>
								<div class="col-sm-8">
									<input name="user_name" type="text" class="form-control" id="user_name" placeholder="User Name" required>
									<i class="fa fa-user form-control-feedback"></i>
								</div>
							</div>
							<div class="form-group has-feedback">
								<label for="user_pwd" class="col-sm-3 control-label">密码</label>
								<div class="col-sm-8">
									<input name="user_pwd" type="password" class="form-control" id="user_pwd" placeholder="Password" required>
									<i class="fa fa-lock form-control-feedback"></i>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<button type="submit" class="btn btn-group btn-default btn-animated">登录 <i class="fa fa-user"></i></button>
									<button style="margin-left: 50px" type="button" class="btn btn-group btn-default btn-animated" onclick="javascript:window.location.href='/Home/Index/index.html';">返回首页 <i class="fa fa-reply-all"></i></button>
								</div>
							</div>
						</form>
					</div>
					<!-- .subfooter start -->
					<!-- ================ -->
					<p class="mt-20">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
					<!-- .subfooter end -->
				</div>
			</div>
		</div>
		<!-- banner end -->
	</div>
	<!-- page-wrapper end -->

	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->

</body>
</html>
