<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>个人中心</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<include file="Public/user_center_left" />
		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{:U('Home/Index/index')}">首页</a></li>
					<li><a class="link-dark" href="{:U('Home/UserCenter/index')}">个人中心</a></li>
					<li class="active">修改密码</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-12">

						<!-- page-title start -->
						<!-- ================ -->
						<h1 class="page-title">修改密码</h1>
						<div class="separator-2"></div>
						<!-- page-title end -->
						<div class="row">
							<div class="col-sm-8">
								<!-- tabs start -->
								<!-- ================ -->
								<!-- Nav tabs -->
								<include file="Public/user_center_tab" />

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane in active" id="h2tab1">
										<div class="row">
											<div class="col-sm-5">
												<form onkeydown="if(event.keyCode==13){return false;}" action="" method="POST" role="form">
													<input style="display: none;" type="text" name="id" value="{:session('user.id')}" >
													<div class="form-group">
														<label for="">原密码</label>
														<input name="old_pwd" type="password" class="form-control" id="" placeholder="">
													</div>
													<div class="form-group">
														<label for="">新密码</label>
														<input name="pwd" type="password" class="form-control" id="" placeholder="{$msg.user_pwd|L2}">
													</div>
													<div class="form-group">
														<label for="">确认密码</label>
														<input name="pwd2" type="password" class="form-control" id="" placeholder="{$msg.user_pwd2|L2}">
													</div>
													<button type="submit" class="btn btn-default">保存</button>
												</form>
												
											</div>
										</div>
									</div>
								</div>
								<!-- tabs end -->

							</div>
							<include file="Public/user_center_right" />
						</div>
					</div>
					<!-- main end -->
				</div>
			</div>
		</section>
		<!-- main-container end -->
		<include file="Public/footer" />
	</div>
	<!-- page-wrapper end -->
	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->
	<script type="text/javascript">
		$('ul.nav.nav-tabs.style-2 > li:nth-child(3)').attr("class", "active");
	</script>

</body>
</html>
