<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>个人中心</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<include file="Public/user_center_left" />
		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{:U('Home/Index/index')}">首页</a></li>
					<li><a class="link-dark" href="{:U('Home/UserCenter/index')}">个人中心</a></li>
					<li class="active">更换手机号</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-12">

						<!-- page-title start -->
						<!-- ================ -->
						<h1 class="page-title">更换手机号</h1>
						<div class="separator-2"></div>
						<!-- page-title end -->
						<div class="row">
							<div class="col-sm-8">
								<!-- tabs start -->
								<!-- ================ -->
								<!-- Nav tabs -->
								<include file="Public/user_center_tab" />

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane in active" id="h2tab1">
										<div class="row">
											<div id="block1" class="col-sm-5">
												<form onkeydown="if(event.keyCode==13){return false;}" action="{:U('Home/UserCenter/changeTel1')}" method="POST" role="form">
													<div class="form-group">
														<label for="">原手机号</label>
														<input name="tel" id="tel" type="text" class="form-control" placeholder="" value="{:session('user.tel')}" disabled="">
													</div>
													<div class="form-group">
														<label for="">手机验证码</label>
														<input name="check_tel" id="check_tel" type="text" class="form-control" id="" placeholder="">
													</div>							
													<button type="submit" class="btn btn-default" style="margin-right: 20px">下一步</button>
													<button id="send1" type="button" class="btn btn-animated btn-gray "  >发送验证码 <i class="fa fa-send-o"></i></button><span style="color: red" id="time"></span><span style="display: none;" id="time_tip">秒后重新发送</span>
												</form>
											</div>

											<div id="block2" style="display: none;" class="col-sm-5">
												<form onkeydown="if(event.keyCode==13){return false;}" action="" method="POST" role="form">
													<legend>请输入验证码</legend>
													<div class="col-sm-12"><img id="check_img" src="{:U('Home/User/verify')}"></div>
													<div class="form-group">
														<label for="">验证码</label>
														<input name="check" id="check" type="text" class="form-control">
													</div>
													<button id="send2" type="button" class="btn btn-animated btn-gray " style="margin-right: 20px" >确认发送 <i class="fa fa-send-o"></i></button>
													<button id="back" type="button" class="btn btn-group btn-default btn-animated" >返回 <i class="fa fa-reply-all"></i></button>
												</form>
											</div>


											<!-- modal -->
											<button style="display: none;" id="modal_btn" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">按钮名称</button>

											<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-sm">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
															<h4 class="modal-title" id="mySmallModalLabel">警告</h4>
														</div>
														<div class="modal-body">
															<p>请输入正确的手机号码</p>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">关闭</button>
														</div>
													</div>
												</div>
											</div>

											<button style="display: none;" id="modal_btn2" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm2">按钮名称</button>

											<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-sm">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
															<h4 class="modal-title" id="mySmallModalLabel">警告</h4>
														</div>
														<div class="modal-body">
															<p>请输入正确的验证码</p>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">关闭</button>
														</div>
													</div>
												</div>
											</div>
											<!-- modal end-->
										</div>
									</div>
								</div>
								<!-- tabs end -->
							</div>
							<include file="Public/user_center_right" />
						</div>
					</div>
					<!-- main end -->
				</div>
			</div>
		</section>
		<!-- main-container end -->
		<include file="Public/footer" />
	</div>
	<!-- page-wrapper end -->
	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->
	<script type="text/javascript">
		$('ul.nav.nav-tabs.style-2 > li:nth-child(5)').attr("class", "active");

		$(function(){
			$('#check_img').click(function(){
				$("#check_img").attr("src","{:U('Home/User/verify')}");
			})
		})

		$(function(){
			$('#send2').click(function(){
				var tel=$('#tel').val();
				var check=$('#check').val();
				var action="{:U('Home/User/verify_check')}";
				$.post(action,{check:check},function(data){
					if (data) {
						var action2="{:U('Home/User/send_tel_check')}";
						$('#block1').css("display","");
						$('#block2').css("display","none");	
						$('#send1').css("display","none");
						$('#time').text(60);//将发送验证码改为等待时间
						$('#time_tip').css("display","");
						(function(){
							var wait = document.getElementById('time');
							var interval = setInterval(function(){
								var time = --wait.innerHTML;
								if(time <= 0) {
									$('#send1').css("display","");
									$('#time').text('');
									$('#time_tip').css("display","none");
									clearInterval(interval);
								};
							}, 1000);
						})();								
						$.post(action2,{tel:tel},function(data2){
							console.log(data2.stage);
						});
					}else{
						$("#modal_btn2").trigger("click");
					}
				});				
			})
		})

		$(function(){
			$('#send1').click(function(){
				//验证手机正确性
				var tel=$('#tel').val();
				regexp=/^1[3|4|5|8][0-9]\d{4,8}$/;
				if(!regexp.test(tel)){
					$("#modal_btn").trigger("click");
				}else{
					$('#block2').css("display","");
					$('#block1').css("display","none");
				}		
			})
		})

		$(function(){
			$('#back').click(function(){
				$('#block1').css("display","");
				$('#block2').css("display","none");				
			})
		})

	</script>

</body>
</html>
