<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>个人中心</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<include file="Public/user_center_left" />


		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{:U('Home/Index/index')}">首页</a></li>
					<li class="active">个人中心</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-12">

						<!-- page-title start -->
						<!-- ================ -->
						<h1 class="page-title">Jane Doe</h1>
						<div class="separator-2"></div>
						<!-- page-title end -->
						<div class="row">
							<div class="col-sm-4">
								<div class="image-box team-member shadow mb-20">
									<div class="overlay-container overlay-visible">
										<img src="__PUBLIC__/images/team-member-3.jpg" alt="">
										<a href="__PUBLIC__/images/team-member-3.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i class="icon-plus-1"></i></a>
										<div class="overlay-bottom">
											<div class="text">
												<h3 class="title margin-clear">Jane Doe</h3>
												<p class="margin-clear">CTO</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-5">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nam, vitae autem quis, deserunt pariatur! At, atque inventore.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam esse laudantium maiores aperiam illo fugit laboriosam velit repellendus quod cumque ea vero vitae quo enim fugiat itaque harum assumenda aut quis, dolore. Sit reiciendis eligendi, recusandae eaque est optio reprehenderit!</p>
								<div class="progress style-2 dark">
									<span class="text"></span>
									<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">CSS</span>
									</div>
								</div>
								<div class="progress style-2 dark">
									<span class="text"></span>
									<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">HTML5</span>
									</div>
								</div>
								<div class="progress style-2 dark">
									<span class="text"></span>
									<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Design</span>
									</div>
								</div>
								<div class="progress style-2 dark">
									<span class="text"></span>
									<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">PHP</span>
									</div>
								</div>
							</div>
		<include file="Public/user_center_right" />
						</div>

					</div>
					<!-- main end -->

				</div>
			</div>
		</section>
		<!-- main-container end -->

		<!-- section start -->
		<!-- ================ -->
		<section id="collapseContent" class="collapse pv-20 light-gray-bg clearfix">
			<div class="container">
				<h3>Latest <strong>Projects</strong></h3>
				<div class="separator-2 mb-20"></div>
				<div class="image-box style-3-b">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="overlay-container">
								<img src="__PUBLIC__/images/portfolio-1.jpg" alt="">
								<div class="overlay-to-top">
									<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-9">
							<div class="body">
								<h3 class="title">Project Title</h3>
								<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Web Design</p>
								<div class="separator-2"></div>
								<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
								<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="image-box style-3-b">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="overlay-container">
								<img src="__PUBLIC__/images/portfolio-2.jpg" alt="">
								<div class="overlay-to-top">
									<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-9">
							<div class="body">
								<h3 class="title">Project Title</h3>
								<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Web Design</p>
								<div class="separator-2"></div>
								<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
								<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="image-box style-3-b">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="overlay-container">
								<img src="__PUBLIC__/images/portfolio-3.jpg" alt="">
								<div class="overlay-to-top">
									<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-9">
							<div class="body">
								<h3 class="title">Project Title</h3>
								<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Web Design</p>
								<div class="separator-2"></div>
								<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
								<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
							</div>
						</div>
					</div>
				</div>
				<nav>
					<ul class="pagination">
						<li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</nav>

			</div>
		</section>
		<!-- section end -->

		<include file="Public/footer" />

	</div>
	<!-- page-wrapper end -->

	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->

	<script type="text/javascript">

	</script>

</body>
</html>
