<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>The Project | Home Portfolio/Agency</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		
		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="/Home/Index/index">主页</a></li>
					<li class="active">错误页面</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container jumbotron light-gray-bg text-center margin-clear">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-6 col-md-offset-3 pv-40">
						<h1 class="page-title"><span id="wait" class="text-default"><?php echo($waitSecond); ?></span></h1>
						<h2>错误：<?php echo($error); ?></h2>
						<a id="href" href="<?php echo($jumpUrl); ?>" class="btn btn-default btn-animated btn-lg">跳转 <i class="fa fa-home"></i></a>
					</div>
					<!-- main end -->
				</div>
			</div>
		</section>
		<!-- main-container end -->


		<include file="Public/footer" />

	</div>
	<!-- page-wrapper end -->

	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->
	<script type="text/javascript">
		(function(){
			var wait = document.getElementById('wait'),href = document.getElementById('href').href;
			var interval = setInterval(function(){
				var time = --wait.innerHTML;
				if(time <= 0) {
					location.href = href;
					clearInterval(interval);
				};
			}, 1000);
		})();
	</script>

</body>
</html>