							<div class="col-sm-3 col-lg-offset-1">
								<h3 class="title">Contact Me</h3>
								<ul class="list-icons">
									<li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
									<li><i class="fa fa-mobile pr-10 text-default"></i> +00 1234567890</li>
									<li><a href="mailto:info@janedoe.com"><i class="fa fa-envelope-o pr-10"></i>info@janedoe.com</a></li>
								</ul>
								<h3>Follow Me</h3>
								<div class="separator-2"></div>
								<a target="_blank" href="https://www.linkedin.com" class="btn btn-animated linkedin btn-sm">Linkedin<i class="pl-10 fa fa-linkedin"></i></a>
								<a target="_blank" href="https://www.xing.com/" class="btn btn-animated xing btn-sm">Xing<i class="fa fa-xing"></i></a>
								<h3>See My Portfolio</h3>
								<a class="btn btn-gray collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Click Me <i class="fa fa-plus"></i></a>
							</div>