			<!-- Offcanvas side start -->
			<div class="offcanvas-container">
				<nav id="offcanvas" class="animated navmenu navmenu-default navmenu-fixed-left offcanvas offcanvas-left" role="navigation">
					<!-- 头像 -->
					<div class="logo">

						<a href="{:U('Home/UserCenter/avatar')}"><img class="img-circle" src="<?php echo U(USERS_PATH.session('user.id').'/avatar','','jpg') ?>" style="width: 100px; height: 100px;"></a>
					</div>

					<!-- name-and-slogan -->
					<div class="site-slogan">
						gordongzp
					</div>

					<ul class="nav navbar-nav text-center">
						<li class="active"><a href="{:U('Home/UserCenter/index')}">首页</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理</a>
							<ul class="dropdown-menu">
								<li><a href="{:U('Home/UserCenter/basicInfo')}">填写个人资料</a></li>
								<li><a href="{:U('Home/UserCenter/avatar')}">设置用户头像</a></li>
								<li><a href="{:U('Home/UserCenter/changePwd')}">修改密码</a></li>
								<li><a href="{:U('Home/UserCenter/comeBackPwd')}">找回密码</a></li>
								<li><a href="{:U('Home/UserCenter/changeTel1')}">更换手机号</a></li>
								<li><a href="{:U('Home/UserCenter/changeEmail')}">绑定/更换邮箱</a></li>
								<li><a href="#">实名认证</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Second Level Item With Submenu</a>
									<ul class="dropdown-menu">
										<li><a href="#">Third Level Item 1</a></li>
										<li><a href="#">Third Level Item 2</a></li>
										<li><a href="#">Third Level Item 3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">财务管理</a>
							<ul class="dropdown-menu">
								<li><a href="#">我要充值</a></li>
								<li><a href="#">我要提现</a></li>
								<li><a href="#">积分明细</a></li>		
							</ul>
						</li>
						<!-- 判断是否为卖家，是则显示卖家菜单 -->
						<?php
						if (session('user.is_seller')) {
							?>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">我是卖家</a>
								<ul class="dropdown-menu">
									<li><a href="#">商品列表</a></li>
									<li><a href="#">订单管理</a></li>
								</ul>
							</li>
							<?php
						}else{
							?>
							<li><a href="#">成为卖家</a></li>
							<?php
						}
						?>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">我是买家</a>
							<ul class="dropdown-menu">
								<li><a href="#">我的订单</a></li>
								<li><a href="#">购物车</a></li>
								<li><a href="#">积分明细</a></li>		
							</ul>
						</li>
						<li><a href="#">备用</a></li>
					</ul>
				</nav>
				<button id="offcanvas_btn" type="button" class="offcanvas-toggle-left navbar-toggle" data-toggle="offcanvas" data-target="#offcanvas"></button>
			</div>
			<!-- offcanvas side end -->