			<!-- Offcanvas side start -->
			<div class="offcanvas-container">
				<nav id="offcanvas" class="animated navmenu navmenu-default navmenu-fixed-left offcanvas offcanvas-left" role="navigation">
					<!-- 头像 -->
					<div class="logo">
						<a href="index.html"><img id="logo" src="__PUBLIC__/images/logo_light_blue.png" alt="The Project"></a>
					</div>

					<!-- name-and-slogan -->
					<div class="site-slogan">
						gordongzp
					</div>

					<ul class="nav navbar-nav text-center">
						<li class="active"><a href="{:U('Home/UserCenter/index')}">首页</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理</a>
							<ul class="dropdown-menu">
								<li><a href="{:U('Home/UserCenter/basicInfo')}">填写个人资料</a></li>
								<li><a href="#">设置用户头像</a></li>
								<li><a href="{:U('Home/UserCenter/changePwd')}">修改密码</a></li>
								<li><a href="{:U('Home/UserCenter/comeBackPwd')}">找回密码</a></li>
								<li><a href="{:U('Home/UserCenter/changeTel1')}">更换手机号</a></li>
								<li><a href="#">邮箱认证</a></li>
								<li><a href="#">实名认证</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Second Level Item With Submenu</a>
									<ul class="dropdown-menu">
										<li><a href="#">Third Level Item 1</a></li>
										<li><a href="#">Third Level Item 2</a></li>
										<li><a href="#">Third Level Item 3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="page-services.html">Services</a></li>
						<li><a href="portfolio-grid-2-3-col.html">Portfolio</a></li>
						<li><a href="shop-listing-3col.html">Shop</a></li>
						<li><a href="page-contact.html">Contact</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Item With Submenu</a>
							<ul class="dropdown-menu">
								<li><a href="#">Second Level Item 1</a></li>
								<li><a href="#">Second Level Item 2</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Second Level Item With Submenu</a>
									<ul class="dropdown-menu">
										<li><a href="#">Third Level Item 1</a></li>
										<li><a href="#">Third Level Item 2</a></li>
										<li><a href="#">Third Level Item 3</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<button id="offcanvas_btn" type="button" class="offcanvas-toggle-left navbar-toggle" data-toggle="offcanvas" data-target="#offcanvas"></button>
			</div>
			<!-- offcanvas side end -->