<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>个人中心</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
		<!-- 地区选择插件 -->
		<!-- <link href="__PUBLIC__/plugins/jquery-Select/css/common.css" rel="stylesheet"/> -->
	<link href="__PUBLIC__/plugins/jquery-Select/css/select2.css" rel="stylesheet"/>
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<include file="Public/user_center_left" />
		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{:U('Home/Index/index')}">首页</a></li>
					<li><a class="link-dark" href="{:U('Home/UserCenter/index')}">个人中心</a></li>
					<li class="active">开店审核</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-12">

						<!-- page-title start -->
						<!-- ================ -->
						<h1 class="page-title">开店审核</h1>
						<div class="separator-2"></div>
						<!-- page-title end -->
						<div class="row">
							<div class="col-sm-8">
								<!-- tabs start -->
								<!-- ================ -->
								<!-- Nav tabs -->
								<!-- Nav tabs -->
								<include file="Public/seller_tab" />

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane in active" id="h2tab1">
										<div class="row">
											<div class="col-sm-12">
												<?php
												switch ($shop_identify_stage) {
												case 0://未开店认证
												?>
												<div class="alert alert-icon alert-warning" role="alert">
													<i class="fa fa-warning"></i>
													您还未进行开店审核
												</div>
												<?PHP
												break;
												case 1://已提交实名认证
												?>
												<div class="alert alert-icon alert-info" role="alert">
													<i class="fa fa-info-circle"></i>
													已提交，请耐心等待审核
												</div>
												<?PHP
												break;
												case 2://实名认证不通过
												?>
												<div class="alert alert-icon alert-danger" role="alert">
													<i class="fa fa-times"></i>
													审核不通过，请重新提交
												</div>
												<?PHP
												break;
												case 3://已通过审核
												?>
												<div class="alert alert-icon alert-success" role="alert">
													<i class="fa fa-check"></i>
													已通开店审核
												</div>
												<?PHP
												break;
												default:
												break;
											}
											?>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<form onsubmit="return get_dis();" onkeydown="if(event.keyCode==13){return false;}" action="{:U('Home/SellerCenter/shopVerify')}" method="POST" role="form" enctype="multipart/form-data">
												<input style="display: none;" type="text" name="id" value="{:session('user.id')}" >
												<?php 
												if (0!=session('user.shop_identify_stage')) {
												?>
												<input style="display: none;" type="text" name="shop_id" value="{$shop.shop_id}" >
												<?php 
											}
											?>

											<div class="form-group">
												<label>店铺名称</label>
												<input type="text" name="shop_name" id="" class="form-control" required="required" value="{$shop.shop_name}" placeholder="{$msg.shop_name|L2}">
											</div>
											<div class="form-group">
												<label>店铺区域</label>   ({$shop.shop_province}-{$shop.shop_city}-{$shop.shop_dis})
												<div class="row"></div>
												<select id="loc_province" style="width:120px;">
												</select>
												<select id="loc_city" style="width:120px; margin-left: 10px">
												</select>
												<select id="loc_town" style="width:120px;margin-left: 10px">
												</select>
												<input style="display: none;" type="text" id="shop_province" name="shop_province" value="" >
												<input style="display: none;" type="text" id="shop_city" name="shop_city" value="" >
												<input style="display: none;" type="text" id="shop_dis" name="shop_dis" value="" >
											</div>

											<div class="form-group">
												<label>详细地址</label>
												<input type="text" name="shop_address" id="" class="form-control" required="required" value="{$shop.shop_address}" placeholder="{$msg.shop_address|L2}">
											</div>

											<div class="form-group">
												<label>公司营业执照</label>
												<img src="<?php echo U(USERS_PATH.session('user.id').'/shop_identify','','jpg') ?>" style="width: 258px; height: 162px;">
												<input type="file" name="photo" required="required">
												<p class="help-block">营业执照上法人代表必须与实名认证信息相同，支持jpg,png,jpeg格式</p>
											</div>
											<?php 
											if (3==session('user.shop_identify_stage')) {
										} else {
										?>
										<button type="submit" class="btn btn-default">保存</button>
										<?php 
									}
									?>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- tabs end -->
			</div>
			<include file="Public/user_center_right" />
		</div>
	</div>
	<!-- main end -->
</div>
</div>
</section>
<!-- main-container end -->
<include file="Public/footer" />
</div>
<!-- page-wrapper end -->
<!-- 模板底部配置 -->
<include file="Public/con_b" />
<!-- 本页js -->

<!-- 地区选择插件 -->
<script type="text/javascript" src="__PUBLIC__/plugins/jquery-Select/js/area.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/jquery-Select/js/location.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/jquery-Select/js/select2.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/jquery-Select/js/select2_locale_zh-CN.js"></script>

<script type="text/javascript">
	$('ul.nav.nav-tabs.style-2 > li:nth-child(2)').attr("class", "active");
	document.getElementById("loc_province")[3].selected=true;

	function get_dis(){
		if (!$('#loc_province').val()) {alert('请填写省份');return false;}
		if (!$('#loc_city').val()) {alert('请填写省份');return false;}
		if (!$('#loc_town').val()) {alert('请填写省份');return false;}
		$('#shop_province').attr('value',$('#loc_province').select2('data').text);
		$('#shop_city').attr('value',$('#loc_city').select2('data').text);
		$('#shop_dis').attr('value',$('#loc_town').select2('data').text);
	}
</script>

</body>
</html>
