<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>主页</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<!--内容区:  -->

		<div class="container-fluid">
			<div class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>user_name</th>
							<th>user_pwd</th>
							<th>email</th>
							<th>tel</th>
							<th>is_seller</th>
							<th>reg_time</th>
							<th>last_log_time</th>
							<th>update_time</th>
							<th>reg_ip</th>
							<th>last_log_ip</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="info" item="vo" key="" >
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.user_name}</td>
								<td>{$vo.user_pwd}</td>
								<td>{$vo.email}</td>
								<th>{$vo.tel}</th>
								<th>{$vo.is_seller}</th>
								<td>{:date("Y-m-d h:i:sa",$vo['reg_time'])}</td>
								<td>{:date("Y-m-d h:i:sa",$vo['last_log_time'])}</td>
								<td>{:date("Y-m-d h:i:sa",$vo['update_time'])}</td>
								<td>{$vo.reg_ip}</td>
								<td>{$vo.last_log_ip}</td>
							</tr>	
						</foreach>	
					</tbody>
				</table>
			</div>
		</div>
		<include file="Public/footer" />

	</div>
	<!-- page-wrapper end -->

	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->

</body>
</html>
