<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>The Project | Home Portfolio/Agency</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
			<!-- background image -->
			<div class="fullscreen-bg"></div>

			<!-- banner start -->
			<!-- ================ -->
			<div class="pv-40 dark-translucent-bg">
				<div class="container">
					<div class="object-non-visible text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
						<!-- logo -->
						<div id="logo" class="logo">
							<h3 class="margin-clear"><a href="index.html" class="logo-font link-light">The <span class="text-default">Project</span></a></h3>
						</div>
						<!-- name-and-slogan -->
						<p class="small">Multipurpose HTML5 Template</p>
						<div class="form-block center-block p-30 light-gray-bg border-clear">
							<h2 class="title text-left">登录</h2>
							<form method="post" class="form-horizontal text-left" action="{:U('Home/User/logIn')}">
								<div class="form-group has-feedback">
									<label for="inputUserName" class="col-sm-3 control-label">用户名</label>
									<div class="col-sm-8">
										<input name="inputUserName" type="text" class="form-control" id="inputUserName" placeholder="User Name" required>
										<i class="fa fa-user form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="inputPassword" class="col-sm-3 control-label">密码</label>
									<div class="col-sm-8">
										<input name="inputPassword" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
										<i class="fa fa-lock form-control-feedback"></i>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-8">
										<div class="checkbox">
											<label>
												<input type="checkbox" required> 记住我
											</label>
										</div>
										<button type="submit" class="btn btn-group btn-default btn-animated">登录 <i class="fa fa-user"></i></button>
										<ul class="space-top">
											<li><a href="#">忘记密码?</a></li>
										</ul>
										<span class="text-muted">Login with</span>
										<ul class="social-links colored circle clearfix">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</form>
							<p>还没有账号? 立马<a href="page-signup-2.html">注册</a></p>
						</div>
						<!-- .subfooter start -->
						<!-- ================ -->
						<p class="mt-20">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
						<!-- .subfooter end -->
					</div>
				</div>
			</div>
			<!-- banner end -->

	</div>
	<!-- page-wrapper end -->

	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->

</body>
</html>
