<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>注册</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<!-- background image -->
		<div class="fullscreen-bg"></div>

		<!-- banner start -->
		<!-- ================ -->
		<div class="pv-40 dark-translucent-bg">
			<div class="container">
				<div class="object-non-visible text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<!-- logo -->
					<div id="logo" class="logo">
						<h3 class="margin-clear"><a href="index.html" class="logo-font link-light">The <span class="text-default">Project</span></a></h3>
					</div>
					<!-- name-and-slogan -->
					<p class="small">Multipurpose HTML5 Template</p>
					<div class="form-block center-block p-30 light-gray-bg border-clear text-left">

					<h2 class="title">用户注册</h2>
						<form method="post" class="form-horizontal" role="form" action="{:U('Home/User/signUp')}">
							<div class="form-group has-feedback">
								<label for="inputName" class="col-sm-3 control-label">用户名 <span class="text-danger small">*</span></label>
								<div class="col-sm-8">
									<input name="username" type="text" class="form-control" id="inputName" placeholder="{$msg.user_name}" required>
									<i class="fa fa-pencil form-control-feedback"></i>
								</div>
							</div>
							<div class="form-group has-feedback">
								<label for="inputEmail" class="col-sm-3 control-label">邮箱 <span class="text-danger small">*</span></label>
								<div class="col-sm-8">
									<input name="email" type="email" class="form-control" id="inputEmail" placeholder="{$msg.email}" required>
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
							</div>
							<div class="form-group has-feedback">
								<label for="inputPassword" class="col-sm-3 control-label">密码 <span class="text-danger small">*</span></label>
								<div class="col-sm-8">
									<input name="pwd" type="password" class="form-control" id="inputPassword" placeholder="{$msg.user_pwd}" required>
									<i class="fa fa-lock form-control-feedback"></i>
								</div>
							</div>
							<div class="form-group has-feedback">
								<label for="inputPassword" class="col-sm-3 control-label">确认密码 <span class="text-danger small">*</span></label>
								<div class="col-sm-8">
									<input name="pwd2" type="password" class="form-control" id="inputPassword" placeholder="{$msg.user_pwd2}" required>
									<i class="fa fa-lock form-control-feedback"></i>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<div class="checkbox">
										<label>
											<input type="checkbox" required> 同意我们的 <a href="#">政策</a> 和 <a href="#">协议</a>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<button type="submit" class="btn btn-group btn-default btn-animated">Sign Up <i class="fa fa-check"></i></button>
								</div>
							</div>
						</form>
					</div>
					<!-- .subfooter start -->
					<!-- ================ -->
					<p class="mt-20">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
					<!-- .subfooter end -->
				</div>
			</div>
		</div>
		<!-- banner end -->

	</div>
	<!-- page-wrapper end -->

	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->

</body>
</html>
