<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->

<head>
	<title>管理中心首页</title>
	<!-- 模板上部配置 -->
	<include file="Public/con_t" />
	<!-- 本页css -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">
		
		<include file="Public/header" />
		<include file="Public/admin_left" />
		<!-- breadcrumb start -->
		<!-- ================ -->
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{:U('Home/Index/index')}">首页</a></li>
					<li><a class="link-dark" href="{:U('Admin181/Index/index')}">管理中心</a></li>
					<li class="active">管理中心首页</li>
				</ol>
			</div>
		</div>
		<!-- breadcrumb end -->

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">
			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-12">

						<!-- page-title start -->
						<!-- ================ -->
						<h1 class="page-title">管理中心首页</h1>
						<div class="separator-2"></div>
						<!-- page-title end -->
						<div class="row">
							<div class="col-sm-12">

								<form onkeydown="if(event.keyCode==13){return false;}" action="{:U('Admin181/Index/index')}" method="POST" role="form">
									<input style="display: none" type="text" name="con_id" value="1">
									<div class="col-sm-6">
										<div class="radio">
											<label>
												<input type="radio" name="openshop_need_person_id" id="openshop_need_person_id1" value="1">
												开店需要实名认证
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="openshop_need_person_id" id="openshop_need_person_id0" value="0">
												开店不需要实名认证
											</label>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="radio">
											<label>
												<input type="radio" name="openshop_need_email" id="openshop_need_email1" value="1" >
												开店需要邮箱认证
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="openshop_need_email" id="openshop_need_email0" value="0">
												开店不需要邮箱认证
											</label>
										</div>
									</div>


									<div class="row"></div>

									<button type="submit" class="btn btn-default">保存</button>

								</form>

							</div>
						</div>
					</div>
					<!-- main end -->
				</div>
			</div>
		</section>
		<!-- main-container end -->
	</div>
	<!-- page-wrapper end -->
	<!-- 模板底部配置 -->
	<include file="Public/con_b" />
	<!-- 本页js -->
	<script type="text/javascript">
		<?php 
		switch ($config['openshop_need_person_id']) {
			case 0:
			?>
			document.getElementById("openshop_need_person_id0").checked=true;
			<?php 
			break;
			case 1:
			?>
			document.getElementById("openshop_need_person_id1").checked=true;
			<?php 
			break;
		}
		switch ($config['openshop_need_email']) {
			case 0:
			?>
			document.getElementById("openshop_need_email0").checked=true;
			<?php 
			break;
			case 1:
			?>
			document.getElementById("openshop_need_email1").checked=true;
			<?php 
			break;
		}
		?>
	</script>

</body>
</html>





